<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/home.css">
    <title>Добро пожаловать!</title>
</head>
<body>
<img id="apple-logo" src="images/apple_logo.png" alt="яблоко">
<div class="click-option">
    <a class="ui-button" href="/login">войти</a>
    <a class="ui-button" href="/registration">регистрация</a>
    <a class="ui-button" href="/user">личный кабинет</a>
</div>
</body>
</html>