<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/registration-page.css">
    <title>Title</title>
</head>
<body>
<h1>Страница регистрации</h1>
<form th:action="@{/registration}" method="post" id="registrationForm">
    <table id="registrationTable">
        <tr>
            <th>Имя:</th>
            <th>
                <label> <input type="text" name="firstName"> </label>
            </th>
        </tr>
        <tr>
            <th>Фамилия:</th>
            <th>
                <label> <input type="text" name="lastName"> </label>
            </th>
        </tr>
        <tr>
            <th>Email:</th>
            <th>
                <label> <input type="email" name="email"> </label>
            </th>
        </tr>
        <tr>
            <th>Логин:</th>
            <th>
                <label> <input type="text" name="username"> </label>
            </th>
        </tr>
        <tr>
            <th>Пароль:</th>
            <th>
                <label> <input type="password" name="password"> </label>
            </th>
        </tr>
    </table>
    <input class="form-submit-button" type="submit" value="Зарегистрироваться">
    <div th:if="${registrationError}!=null">
        <p th:text="${registrationError}">Ошибка регистрации</p>
    </div>
</form>
<a href="/login">Есть аккаунт? Войти</a>
</body>
</html>