<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>
<body>
<h3 style="text-align: center">Список пользователей</h3>
<div class="table-wrapper">
    <table class="fl-table">
        <tr>
            <td style="font-weight: bold">Пользователь</td>
            <td style="font-weight: bold">Роль</td>
        </tr>
        <th:block th:each="webUser : ${usersList}">
            <tr>
                <td th:text="${webUser.username}">Логин</td>
                <td th:text="${webUser.roles}">Роль</td>
                <td><a th:href="@{'/admin/' + ${webUser.id}}">view</a></td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>