<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Admin Edit Info</title>
</head>
<body>
<form method="post" th:object="${webUser}" >
    <label>
        Логин: <input type="text" th:field="*{username}" name="username">
    </label>
    <label>Роли:
        <div th:each="role : ${roles}">
            <label>
                <span th:text="${role}">role</span>
                <input type="checkbox" th:value="${role}" th:field="*{roles}"/>
            </label>
        </div>
    </label>
    <label>
        <span>Актив?</span>
        <input type="checkbox" value="active" th:field="*{active}"/>
    </label>
    <th:block th:if="${registrationError} != null">
        <p th:text="${registrationError}">сообщение об ошибке</p>
    </th:block>
    <br>
    <input type="hidden" th:value="${_csrf.token}" th:name="${_csrf.parameterName}">
    <input type="submit" value="Сохранить изменения">
</form>
</body>
</html>